$dayBlockSize: 100px;
$daysInWeek: 7;
$gap: 1px;
$weekDay:
  "tue" 1,
  "wed" 2,
  "thu" 3,
  "fri" 4,
  "sat" 5,
  "sun" 6;

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

div {
  margin: 0;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.calendar {
  width: $dayBlockSize * $daysInWeek + $gap * 10;

  display: flex;
  flex-wrap: wrap;
  gap: $gap;
  margin: 20vh auto;
}

.calendar div:nth-child(n) {
  width: $dayBlockSize;
  height: $dayBlockSize;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #eeee;
  border: 1px solid #000;

  transition: transform 0.5s;

  cursor: pointer;
}

.calendar div:nth-child(n):hover {
  background-color: #ffc0cb;
  transform: translate(0, -20px);
}

@for $i from 1 through 31 {
  .calendar div:nth-child(#{$i})::after {
    content: "#{$i}";
  }
}

@for $monthDays from 28 through 31 {
  .calendar-#{$monthDays} div:nth-child(n + #{$monthDays+1}) {
    display: none;
  }
}

@each $day, $i in $weekDay {
  .calendar-#{$day} div:nth-child(1) {
    margin-left: ($dayBlockSize + $gap) * $i;
  }
}
